  <!-- Our Clients -->
  <section class="section section-padded">
    <div class="container-fluid">
      <div class="section-header">
        <h1>
          Clients
          <small class="light">We Love</small>
        </h1>
      </div>
      <div class="flexslider fadein-links" data-flex-animation="slide" data-flex-controls="hide" data-flex-directions-position="outside" data-flex-directions-type="fancy" data-flex-itemwidth="250" data-flex-slideshow="false" id="client">
        <ul class="slides">
          <li>
            <a href="#">
              <img alt="client" src="images/lpm.png">
            </a>
          </li>
          <li>
            <a href="#">
              <img alt="client" src="images/ladybug.png">
            </a>
          </li>
          
        </ul>
      </div>
    </div>
  </section>