  <!-- Our work -->
  <section class="section section-alt section-padded">
    <div class="container-fluid">
      <div class="section-header">
        <h1>
          <small class="light">About</small>Me
        </h1>
      </div>
      <div class="row-fluid">

        <div class="span4 offset1">
            <img class="img-polaroid" src="/images/gravatar_220_bw.jpeg">
        </div>
        
        <div class="span6">
          <h4 class="media-heading">My name is Brad</h4>
          
          <p>I work as a Senior Engineer for Datacom in Wellington, building websites and other software applications for our customers</p>
          
          <p>I've been building websites for a long time, always striving to make things simple and more effective for people.</p>
          
          <p>I feel its all too easy for technical people to make choices for people that end up being more difficult than necessary.</p>

          <p>I work with some of the best platforms and technologies available in the world to deliver you solutions you can trust not to let you down.</p>

        </div>
      </div>
    </div>
  </section>