  <!-- Our work -->
  <section class="section section-alt section-padded">
    <div class="container-fluid">
      <div class="section-header">
        <h1>
          <small class="light">About </small>Us
        </h1>
      </div>

      <div class="row-fluid">

        <div class="span4 offset1">
            <img class="img-polaroid" src="/images/gravatar_220_bw.jpeg">
        </div>
        
        <div class="span6">
          <h4 class="media-heading">My name is Brad</h4>
          
          <p>I work as a Senior Engineer for Datacom in Wellington, building websites and other software applications for our customers</p>
          
          <p>I've been building websites for a long time, always striving to make things simple, effective and adding value for people.</p>
          
          <p>Its all too easy for technical people to make choices that end up being more difficult than necessary, and end up costing more down the line</p>

          <p>I work with some of the best platforms and technologies available in the world to deliver you solutions you can trust not to let you down.</p>

        </div>
      </div>

      <div class="section-header"></div>

      <div class="row-fluid">

        <div class="span4 offset1">
            <img class="img-polaroid" src="/images/alex_220.jpg">
        </div>
        
        <div class="span6">
          <h4 class="media-heading">My name is Alex</h4>

          






          
          <p>I am a Chartered Accountant. A large part of my professional working experience is in Investment Banking and IT industry.</p>
          
          <p>The most interesting and challenging projects in my career were leading the implementation of new accounting software systems for small and medium size businesses.</p>
          
          <p>I am passionate about automating repetitive processing tasks and improving financial/business performance reporting.</p>

          <p>In the current fast changing environment it’s vital for businesses to use adequate analytic tools to support decision making.</p>

        </div>
      </div>


    </div>
  </section>