  <!-- Our work -->
  <section class="section section-alt section-padded">
    <div class="container-fluid">
      <div class="section-header">
        <h1>
          <small class="light">The rise of</small>Mobile
        </h1>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <div class="flexslider margin-bottom" data-flex-directions="hide" data-flex-speed="10000" id="work">
            <ul class="slides">
              <li>
                <img alt="some image" src="images/assets/devices/ipad-iphone.png">
              </li>
              <li>
                <img alt="some image" src="images/assets/devices/macbook.png">
              </li>
              <li>
                <img alt="some image" src="images/assets/devices/imac-2.png">
              </li>
            </ul>
          </div>
        </div>
        <div class="span6">
          <ul class="icons-ul">
            <li>
              <h4>
                  <i class="icon-li icon-twitter"></i>
                  Your customers are now mobile
              </h4>
              <p>
                In 2013, mobile phones overtook desktops as the most commonly used device to access the web.
              </p>
            </li>
            <li>
              <h4>
                  <i class="icon-li icon-time"></i>
                  They have limited time
              </h4>
              <p>
                Most consumers wait about 5 seconds for a website to load on their mobile device compared to 3 seconds for most desktop consumers.
              </p>
            </li>
            <li>
              <h4>
                  <i class="icon-li icon-dollar"></i>
                  You cannot afford to lose them
              </h4>
              <p>
                Customers that find a broken, or unpleasant mobile experience with your site are unlikely to come back, they'll just find a competitor who caters to their needs.
              </p>
            </li>
            <li>
              <h4>
                  <i class="icon-li icon-magic"></i>
                  We bring you fantastic designs from some of the world's best
              </h4>
              <p>
                Stunning professional designs cost thousands, we frequently license and adapt great designs from some of the worlds best, delivering fantastic value to you.
              </p>
            </li>
            <li>
              <h4>
                  <i class="icon-li icon-heart"></i>
                  Or work with your own design 
              </h4>
              <p>
                We are happy to adapt existing designs to delight your customers, or work with a designer you trust.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>