  <!-- Our work -->
  <section class="section section-alt section-padded">
    <div class="container-fluid">
      <div class="section-header">
        <h1>
          Recent
          <small class="light">work?</small>
        </h1>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <div class="flexslider margin-bottom" data-flex-directions="hide" data-flex-speed="10000" id="work">
            <ul class="slides">
              <li>
                <img alt="some image" src="images/assets/devices/imac-2.png">
              </li>
              <li>
                <img alt="some image" src="images/assets/devices/macbook.png">
              </li>
              <li>
                <img alt="some image" src="images/assets/devices/ipad.png">
              </li>
            </ul>
          </div>
        </div>
        <div class="span6">
          <ul class="icons">
            <li>
              <h4>
                <a href="services.html">
                  <i class="icon-twitter"></i>
                  Social apps development
                </a>
              </h4>
              <p>
                Quisque et risus in lectus fringilla consectetur. In quis semper lacus. Pellentesque sed magna quis risus placerat tempor vel non lacus.
              </p>
            </li>
            <li>
              <h4>
                <a href="services.html">
                  <i class="icon-heart"></i>
                  Apps that your clients are goind to love
                </a>
              </h4>
              <p>
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis consectetur venenatis ante in adipiscing.
              </p>
            </li>
            <li>
              <h4>
                <a href="services.html">
                  <i class="icon-cog"></i>
                  Inovations that takes you to the next level
                </a>
              </h4>
              <p>
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam ultrices pretium nibh, ac mollis lacus congue vel.
              </p>
            </li>
            <li>
              <h4>
                <a href="services.html">
                  <i class="icon-leaf"></i>
                  Enviromental friendly design
                </a>
              </h4>
              <p>
                Nunc vitae nulla urna. Integer feugiat mauris at massa egestas vel eleifend sem commodo. Suspendisse non ante ut lacus venenatis cursus.
              </p>
            </li>
            <li>
              <h4>
                <a href="services.html">
                  <i class="icon-magic"></i>
                  Design that has some magic in it
                </a>
              </h4>
              <p>
                Nam sodales tincidunt diam, ut accumsan augue molestie eget. Nullam euismod molestie elit ut tempus.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>