<!-- Page Footer -->
<footer id="footer" role="contentinfo">
  <div class="wrapper wrapper-transparent">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span6 small-screen-center">
          <h3>
            Black <span class="light">
                Cedar
              </span>
          </h3>
          <p>
            +64 220 633 644
            <br>
            info@blackcedar.co.nz
            <br>
            Wellington, New Zealand
            <br>
            &copy; Copyright 2014
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>